Source: rms-leveler
Section: sound
Priority: optional
Maintainer: Milan Chrobok <mc@radiopiloten.de>
Build-Depends: debhelper (>= 8),
 ladspa-sdk
Standards-Version: 3.9.3
Homepage: https://launchpad.net/~mc-1/+archive/audioTools

Package: rms-leveler
Architecture: any
Depends: ${misc:Depends}, ladspa-sdk
Description: LADSPA plugins to limit or gain stereo audio to -20dB RMS
